@media screen and (min-width:1024px) {
   
    * {
        font-family: "Lato", sans-serif;
        box-sizing: border-box;
        background-color: lightcyan;
      }
      
      header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 1.875rem 0.625rem;
      }
      
      .nav__links {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        margin-left: 1rem;
      }
      
      ul, li, a {
        font-size: 35px;
        font-weight: 400;
        list-style-type: none;
        margin: 1rem 1rem;
      }
      
      li {
        cursor: pointer;
      }
      
      .nav__links li a {
        transition: all 0.3s ease 0s;
      }
      
      .nav__links li a:hover {
        color: white;
        font-weight: 700;
      }
}